@import '../../../vendor/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../../vendor/bower_components/font-awesome/scss/font-awesome';
@import '../../../vendor/bower_components/keyrune/css/keyrune';
@import '../../../vendor/bower_components/bootstrap-select/sass/bootstrap-select';

@import 'variables';

html,
body {
  font-family: 'Montserrat';
  height: 100%;
  line-height: normal;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4D77A6;
}

.content {
  display: table;
  height: inherit;
  margin: 0 auto;
}

.player-container {
  background-color: #D0D0D0;
  border-bottom: 2px solid #505050;
  border-radius: $border-radius;
  float: left;
  margin: 15px;
  min-height: 725px;
  text-align: center;
  width: 300px;
}


.player-button-container {
  margin: 15px;
  opacity: $player-button-opacity;
  text-align: center;
  transition: opacity .2s ease-in;

  .btn {
    margin: 2px;
    width: 100px;

    .fa {
      font-size: 40px;
    }
  }
}

.btn-xl {
  font-size: 60px;
}

.player-life,
.player-poison {
  color: #9f9f9f;
  font-size: 200px;
  padding: 10px;
  transition: color ease-in .2s;
}

.player-poison {
  font-size: 100px;
}

.text-active {
  color: #505050;
  transition: color ease-in .2s;
}

.player-name {
  color: #505050;
  font-size: 70px;
}

.new-player {
  color: #303030;
  cursor: pointer;
  font-size: 170px;
  margin-left: 25%;
  margin-top: 100%;
  transition: transform cubic-bezier(.165, .840, .440, 1) .1s;
}

.new-player:hover {
  transform: scale(1.1);
}

.new-player:active {
  opacity: .9;
}

.player-menu {
  background-color: inherit;
}

.player-nav {
  border-bottom: 0;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;

  .tab-active {
    background-color: #D0D0D0;
    cursor: default;
  }

  > li {
    background-color: #F5F5F5;
    color: #505050;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    height: 35px;
    line-height: 30px;
    position: relative;
    text-align: center;
  }

  > li:first-child {
    border-radius: $border-radius 0 0;
  }

  li:last-child {
    border-radius: 0 $border-radius 0 0;
  }
}

.player-tab {
  border-radius: $border-radius $border-radius 0 0;
  border-top: $tab-border-thickness solid #505050;
  float: left;
  margin: 0;
  transition: border-color .2s ease-in;
  width: 50%;
}

.tab-active.life-button {
  border-top: $tab-border-thickness solid $life-colour;
}

.tab-active.poison-button {
  border-top: $tab-border-thickness solid $poison-colour;
}

.player-content {
  margin-top: 35px;
  position: relative;
}

.life-menu {
  color: white;
  font-size: 35px;
  margin: 10px auto;
  text-align: center;

  > button {
    background: none;
    border: 0;
  }
}

.selectpicker {
  display: none;
}

#new-player-container {
  background: none;
  border: 18px dotted;
  margin-top: 15px;
  opacity: .5;
  text-align: left;
  transition: opacity .2s ease-in;
}

#new-player-container:hover {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.player-container:hover .player-button-container {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.btn,
.dropdown-menu,
.modal-content {
  border: 0;
  border-radius: 0;
}
